body{
    margin:0;
    display:flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    background-color: rgba(210, 185, 137, 0.9);
    padding:0px;


}
#keys{

    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
    padding: 25px;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    border-radius: 15px;
    max-width:500px;
    overflow: hidden;
    

}

#display{
    width: 100%;
    padding: 20px;
    border: none;
    background-color:rgb(195, 171, 143);
    text-align:left;
    padding: 20px;
    font-size: 5rem;
}



    button{
    width : 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: maroon;
    color: white;
    font-size: 24px;
    cursor: pointer;

}


buttons button:hover{
    background-color: rgba(128, 0, 0, 0.4);
}

button:active{
    background-color: rgba(128, 0, 0, 0.6);
}